-if current_user
  .fixed-action-btn.horizontal.modal-trigger{:href => "#add_data",:style=>"color:#767676; "}
    %a.btn-floating.btn-large.green
      %i.material-icons add

  .modal.small_modal{:id=>"add_data"}
    .modal-content
      %i.material-icons.modal-close close
      .header
        %h5 Ном бүртгэх
      .content.container
        = form_for @book, :url => {:action => "create"}, :method => "post" do |f|
          %p= f.text_field     :kod,:placeholder =>"koд"
          %p= f.text_field     :name,:placeholder =>"Нэр"
          %p= f.text_field     :ddc,:placeholder=>"DDC"
          %p= f.text_field     :isbn,:placeholder =>"ISBN"
          %p= f.text_field     :writer,:placeholder =>"Зохиогч"
          %p= f.date_field     :write_date,:placeholder =>"Зохиогдсон он", class:"datepicker"
          = f.select :type_id, options_for_select(@types.collect { |obj|   |
            [obj.title.titleize,      obj.id]}, 0), {}, {style: "display: inherit;"} |
          %br
          %p= f.number_field     :count,:placeholder =>"Тоо ширхэг"
          %center.col.s12
            = f.submit "Хадгалъя",:class=>"btn"
-if system_user
  .fixed-action-btn.horizontal.modal-trigger{:href => "#add_data",:style=>"color:#767676; "}
    %a.btn-floating.btn-large.green
      %i.material-icons add

  .modal.small_modal{:id=>"add_data"}
    .modal-content
      %i.material-icons.modal-close close
      .header
        %h5 Ном захиалах
      .content.container
        = form_for :trip, :url => {:action => "create_new_book"}, :method => "post" do |f|
          = f.hidden_field     :user_id,:value =>system_user.id
          %p Номын koд
          %p= f.text_field     :kod,:placeholder =>"koд"
          %p Эхлэх огноо
          %p= f.date_field     :begin_date,class:"datepicker"
          %p Дуусах огноо
          %p= f.date_field     :end_date,class:"datepicker"

          %center.col.s12
            = f.submit "Хадгалъя",:class=>"btn"
.row
  .col.s6
    = form_tag 'books', method: :get do
      = text_field_tag :search, params[:search] , :value => 'хaйх ...', :onfocus => 'this.value = ""' ,:style=>"background-image: url('/assets/ic_search.png'); background-repeat: no-repeat;     background-size: 40px 30px; background-position: right;     border: 1px solid #e1e6ea; color: #c7cfd5; font-size:13px; font-family: 'Open Sans', sans-serif; width:100%; padding-left:20px "
  .col.s6
    =form_for :trip, :url=>{action:"change_type"}, :method=>'post' do |o| 
      =o.select :id, options_for_select(Type.all.collect { |p|   |
         [p[:title],      p[:id]]}, params[:type].to_i), {style: "display: inline;"}, {style: "display: inline;",onchange: "this.form.submit()" } |
%table
  %thead
    %tr
      %th Код
      %th Нэр
      %th DDC
      %th ISBN
      %th Зохиогч
      %th Зохиогдсон он
      
      %th Төрөл
      %th Тоо ширхэг
      -if current_user
        %th{colspan:3}
  %tbody
    - @books.each do |book|
      %tr
        %td= book.kod
        %td= book.name
        %td= book.ddc
        
        %td= book.isbn
        %td= book.writer
        %td= book.write_date
        %td= book.type.title
        %td= book.count
        -if current_user
          %td= link_to 'Дэлгэрэнгүй', book
          %td= link_to 'Засах', edit_book_path(book)
          %td= link_to 'Устгах', book, :method => :delete, :data => { :confirm => 'Are you sure?' }
